.bg__nav{
    background-image: linear-gradient(225deg, #ffd800 0, #ffc800 10%, #ffb700 20%, #ffa403 30%, #ff9016 40%, #f37b1f 50%, #e46725 60%, #d7552a 70%, #ca452f 80%, #bf3733 90%, #b52b37 100%);
}


.bg{
    background: rgb(166,7,92);
background: linear-gradient(90deg, rgba(166,7,92,0.9919565238204657) 23%, rgba(165,32,185,0.9415363557532388) 52%, rgba(27,121,171,0.798679212896096) 100%);
}